@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50 text-gray-900;
}

a {
    @apply
    text-blue-600
    hover:text-purple-600
    visited:text-purple-600;
}

h1 {
    @apply
    text-2xl
    font-semibold
    mb-4;
}

h2 {
    @apply
    text-lg
    font-semibold
    my-4;
}

p {
    @apply
    mb-4;
}

.button {
    @apply
    px-4
    py-1
    rounded
    shadow-lg
}

.button-default {
    @apply
    bg-blue-500
    text-white
    hover:bg-blue-700
    hover:text-white;
}
