---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
    <h1>About Metrowest Networkers Group</h1>

    <div class="mb-4">
        <p>During the pandemic of 2020-2023, most networking groups
        in Massachusetts ceased in-person meetings or
        disbanded entirely. The Metrowest Networkers Group was started
        in December 2023 by a group of job seekers and career
        switchers who believed the key to landing a new position
        sooner, rather than later, is meeting people in person
        &mdash; true networking.</p>
    </div>

    <div class="mb-4">
        <p>The group that met in December 2023 included: Brian K,
        Maureen K, Ed Lawrence, Mohammad M, Christine R, Jack S,
        John T, and Peter Z. It is through their planning and work
        that the Metrowest Networkers Group came to fruition.</p>
    </div>

    <div class="mb-4">
        <p>Join us:</p>
    </div>

    <div class="mb-4 flex space-x-2">
        <a href="https://groups.google.com" target="_blank">
            <img src="/googleplus.png" alt="Google Groups" class="h-6" />
        </a>
        <a href="https://www.linkedin.com/groups/12943261" target="_blank">
            <img src="/linkedin.png" alt="LinkedIn" class="h-6" />
        </a>
    </div>
</MainLayout>
