---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
    <h1>Resources</h1>

    <h2>Books for jobseekers</h2>

    <div>
        <a
            href="https://www.goodreads.com/author/show/210252.Kate_Wendleton?from_search=true&from_srp=true"
            target="_blank"
        >
            Books by Kate Wendelton
        </a>
    </div>

    <div>
        <a
            href="https://www.goodreads.com/search?q=simon+sinek&qid=Aq3Tfyjyhw"
            target="_blank"
        >
            Books by Simon Sinek
        </a>
    </div>

    <div>
        <a
            href="https://www.goodreads.com/search?q=Louise+Kursmark&qid=6gcaJ9QTLh"
            target="_blank"
        >
            Resume writing books by Louise Kursmark and Wendy Enelow
        </a>
    </div>

    <h2>Local area job boards</h2>

    <div>
        <a href="https://www.smoc.org/careers.php" target="_blank">
            South Middlesex Opportunity Council
        </a>
    </div>

    <h2>Coaches and helpful sites</h2>

    <div>
        <a href="https://www.job-hunt.org" target="_blank">Job-Hunt.org</a>

        <p class="text-sm">Job-hunt is one of America's favorite sites
        for job search help and career exploration.</p>
    </div>

    <div>
        <a href="https://www.sabrina-woods.com" target="_blank">
            Sabrina Woods
        </a>

        <p class="text-sm">
            Sabrina Woods coaches mission-driven people to manage stress,
            prevent burnout and re-engage with their personal, career and
            team goals. She is one of New England's top mindfulness
            experts. If you experience interview anxiety or need help
            maintaining your passion or persistence, give her a call.
        </p>
    </div>

    <div>
        <a href="https://www.yourcareerdirection.com" target="_blank">
            Gail Liebhaber, M.Ed.; 781-820-5310
        </a>

        <p class="text-sm">
            Together, we will find the best options to make this your
            year of discovery, creativity and action positioning you
            for long term career success.</p>

        <p class="text-sm">
            Recognized for Career Coaching Expertise. Chosen as one
            of "Boston's most inspiring entrepreneurs" by Boston
            Voyager. Find Gail in Richard Bolles landmark book,
            <em>What Color is Your Parachute?</em> list of career
            counselors.</p>
        </p>
    </div>

    <div>
        <a href="https://speechcoachcompany.com" target="_blank">
            Speech Coach Janelle Winston
        </a>

        <p class="text-sm">
            Janelle Winston  offers group training, live online face to face
            private coaching, or private coaching at your site or theirs.
        </p>
    </div>

    <div>
        <a href="https://www.tammygoolerloeb.com" target="_blank">
            Tammy Gooler-Loeb
        </a>

        <p class="text-sm">
            Tammy Gooler-Loeb is an executive coach and author of the bestselling
            book
            <em>
                <a href="https://www.amazon.com/Work-Inside-Out-Obstacles-Fulfills-ebook/dp/B09PMD2TJ3/ref=sr_1_1" target="_blank">
                    Work From The Inside Out
                </a>
            </em>.
        </p>
    </div>

    <div>
        <a href="https://valeriespain.com" target="_blank">
            Valerie Spain Life Coaching
        </a>

        <p class="text-sm">
            Together, we co-create a safe and curious space for you to build
            confidence and embrace what you desire.
        </p>
    </div>

    <div>
        <a href="http://www.careersuccessassociates.com" target="_blank">
            Larry Elle, MSW
        </a>

        <p class="text-sm">
            Nationally Certified Career and Job Search Counselor, and
            Certified MBTI, Larry Elle is the Director of Success
            Associates Career Services, and a transformer facilitator
            of metro-Boston area networking groups. He provides Career
            Coaching to Boston area professionals. He developed
            <em>Success Teams</em>, a highly effective group
            coaching process that returns people to work in half the normal
            time. Prior to this he provided clinical counseling services
            and training at Boston area outplacement centers for the
            Commonwealth Corporation.
        </p>
    </div>

    <div>
        <a href="https://www.careerventures.net" target="_blank">
            Andrew Brown, M.Ed., LMHC
        </a>

        <p class="text-sm">
            Career and Personal Coaching for Adults with ADD/ADHD
        </p>

        <p class="text-sm">
            By tailoring his career coaching and counseling programs to suit
            the needs and goals of his clients, Andrew empowers professionals
            facing a variety of career and workplace
            challenges. Andrew helps reignite career passion, prioritize a
            work-life balance, and more effectively maintain focus and drive
            for those with ADD or ADHD.
        </p>
    </div>

    <div>
        <a href="https://deborahsingiser.com" target="_blank">
            Deborah Singiser
        </a>

        <p class="text-sm">
            Deborah Singiser empowers students to match who they are
            with possible "right-fit" careers through a system of
            self-discovery and career exploration.
        </p>
    </div>

    <div>
        <a href="https://www.lmeadows.com" target="_blank">
            Lucy Meadows, CCSP, PCC, CPCC
        </a>

        <p class="text-sm">
            Certified Career and Life Coach
        </p>

        <p class="text-sm">
            As a career and life coach with deep experience as a manager,
            Lucy helps people figure out what they want, find fulfilling
            work, and tame their inner critic. Activists welcome.
        </p>
    </div>

    <div>
        <a href="https://www.psteincareers.com" target="_blank">
            Phyllis R. Stein
        </a>

        <p class="text-sm">
            Career and life planning work for women and men of all ages.
            Offering 48 years of career wisdom. Working only by phone.
        </p>
    </div>
</MainLayout>
