<footer class="py-2 border-t bg-gray-100 shadow-sm mt-auto">
    <nav class="flex justify-between items-center px-4 sm:px-8">
        <div class="flex space-x-4">
            <a href="https://groups.google.com" target="_blank">
                <img src="/googleplus.png" alt="Google Groups" class="h-6" />
            </a>
            <a href="https://www.linkedin.com/groups/12943261" target="_blank">
                <img src="/linkedin.png" alt="LinkedIn" class="h-6" />
            </a>
        </div>
        <div>
            <a href="/contact">Contact</a>
        </div>
    </nav>
</footer>
