<header class="py-2 border-b bg-white shadow-sm">
    <nav class="flex justify-between items-center px-4 sm:px-8">
        <div class="font-bold">Metrowest Networkers Group</div>

        <ul class="flex space-x-6">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/login" class="button button-default">Login</a></li>
        </ul>
    </nav>
</header>
